CSS Properties

html {
    background-color: red;     /* property : value */
}

/* text color */
h1 {
    color: blue;
}
/* color formats - named colors vs RGB hex values (colorhunt.co) */

/* Font properties */
h1 {
    font-size: 20px;    /* 1px = 1/96 inch or 0.26mm */
    font-size: 20pt;    /* 1pt = 1/72 inch or 0.35mm. Points are selected in word */
    font-size: 1em;
    font-size: 1rem;
    font-size: xx-large;
    font-weight: bold;
    font-weight: lighter;
    font-weight: 400;
}

/* em and rem are sizes relative to parent and root (<html> </html>) respectively */

h1 {
    font-family: Arial, sans-serif;   /*backup font*/
    font-size: "Times new roman", cursive;      /* fonts.google.com - We can pull the fonts from here also - very useful */
}

h1 {
    text-align: center;
    text-align: left;  /* for languages like urdu */
}

/* CSS Inspection - Chrome Development Tools */
/* The box model - Margin, Padding, Border, width and Height */
/* Each HTML element is basically a box */

button{
    border: 10px solid black;   /* The height and width of element does not change by border */
        border-top: 0px;
        border-width: 0px 10px 20px 30px;  /*clockwise starting from top*/
}

button{
    padding: 20px;   /*similar to border, the dimension of element does not change*/
    margin: 10px;  /* margin is from border to any other element */
}
/* padding mardin and border - width works in the same way. If we pass only 2 values, it would be for top-bottom and left-right */

/* Content division element - To group elements (divs) together */
/* Pesticide chrome extension */